// contains global and resets styles
@use '_variables' as var
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  scroll-behavior: smooth

body
  font-family: 'DM Sans', sans-serif
  background-color: var.$bg-color

a,a:visited,a:link
  text-decoration: none

.section
  padding: 12rem
  background-color: var.$bg-color

.pri-text
  color: var.$pri-color

.popup-container
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  z-index: 8
  background-color: var.$bg-color

.popup-container .contact-form
  border: 1px solid #D9D9E3
  padding: 4rem
  max-width: 56rem
  background-color: white
  border-radius: 1.6rem
  

.popup-close
  padding: 2rem
  font-size: 2rem
  position: absolute
  top: 2rem
  right: 2rem
  color: white
  background-color: var.$sec-text-color
  border-radius: 1.6rem
  cursor: pointer


@media screen and (max-width: 430px)
  .section
    padding: 12rem 1.6rem
  .popup-container
    padding: 0 1rem
  .popup-container .contact-form
    padding: 2rem 1.6rem
  .popup-close
    padding: 2rem
    font-size: 1.6rem
    top: 1rem
    right: 1rem

@media screen and ( min-width:  1441px)
  html
    font-size: 75%
