@use '_variables' as var

.qna
  max-width: 72rem
  margin: 0 auto
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  background-color: var.$bg-color
  &-heading
    @include var.H2()
    color: var.$pri-text-color
    margin-bottom: 2.4rem
  &-subheading
    @include var.text-m($weight: 500)
    color: var.$tri-text-color
    margin-bottom: 4rem
  &-accordian
    padding: 1rem
    max-width: 56rem
    background-color: var.$white
    border-radius: 0.9rem
    border: 1px solid black
    margin-bottom: 1.5rem
    &-question
      @include var.H6()
      font-size: 1.5em
      color: var.$sec-text-color
      text-align: left
    &-answer
      max-height: 0
      overflow: hidden
      transition: max-height 0.4s ease
      margin-top: 0rem
      @include var.text-m($weight: 500)
      color: var.$qut-text-color
      text-align: left

.toggle
  max-height: 20rem

@media screen and (max-width: 460px)
  .qna
    padding: 0 1.6rem
