* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #F3F3F7;
}

a, a:visited, a:link {
  text-decoration: none;
}

.section {
  padding: 12rem;
  background-color: #F3F3F7;
}

.pri-text {
  color: #F63194;
}

@media screen and (max-width: 430px) {
  .section {
    padding: 12rem 1.6rem;
  }
}
.hero {
  width: 100%;
  height: 81rem;
  overflow: hidden;
  position: relative;
}
.hero-content-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 12rem;
  background-image: linear-gradient(to right, #111118 10%, rgba(17, 17, 24, 0.1254901961));
}
.hero-heading {
  font-size: 5.6rem;
  line-height: 6.2rem;
  font-weight: 700;
  color: #F3F3F7;
  max-width: 56rem;
}
.hero-ctas {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 8rem;
  align-items: center;
  gap: 4rem;
}
.hero-cta {
  padding: 0.8rem 1.2rem;
  background-color: #F63194;
  color: #FFFFFF;
  border-radius: 0.4rem;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  transition: all 0.4s ease;
}
.hero-cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.hero-cta-sec {
  color: #F63194;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  transition: all 0.4s ease;
}
.hero-cta-sec:hover {
  border: 1px solid #F63194;
  transform: translateY(-2px);
  color: #FFFFFF;
}
.hero-stats {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
.hero-stats-num {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: #C0C0CE;
}
.hero-stats-des {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #767693;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-logo {
  height: 3.2rem;
}
.nav-links {
  display: flex;
  gap: 3.2rem;
}
.nav-links-link {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #2F2F3C;
  padding: 0.4rem 2rem;
  border-radius: 100px;
  transition: all 0.4s ease;
}
.nav-links-link:hover {
  background-color: #F63194;
  color: #FFFFFF;
  transform: translateY(-2px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.nav-cta {
  padding: 0.8rem 1.2rem;
  background-color: #F63194;
  color: #FFFFFF;
  border-radius: 0.4rem;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  transition: all 0.4s ease;
}
.nav-cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 430px) {
  .hero-content-container {
    padding: 2rem 1.6rem;
    align-items: center;
    background-image: linear-gradient(to bottom, #111118 10%, rgba(17, 17, 24, 0.5019607843));
  }
  .hero-heading {
    font-size: 4.8rem;
    font-weight: 700;
  }
  .hero-ctas {
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .hero-cta {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
  }
  .hero-cta-sec {
    border: 1px solid #F63194;
    transform: translateY(-2px);
    color: #FFFFFF;
  }
  .hero-stats {
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
  }
  .nav {
    padding: 2rem 1.6rem;
  }
  .nav-links, .nav-cta {
    display: none;
  }
}
.services-heading {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: #111118;
  margin-bottom: 6.4rem;
  text-align: center;
}
.services-cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.services-cards-card {
  width: 38.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: all 0.4s ease;
}
.services-cards-card:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}
.services-cards-card-img {
  width: 100%;
  height: 19.2rem;
  background-color: #111118;
}
.services-cards-card-content {
  padding: 2.4rem;
  width: 100%;
}
.services-cards-card-content-heading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #2F2F3C;
}
.services-cards-card-content-des {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #515167;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}
.services-cards-card-content-cutoutprice {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #8D8DA5;
  text-decoration: line-through;
}
.services-cards-card-content-currentprice {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #F63194;
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 430px) {
  .services-cards {
    flex-direction: column;
  }
  .services-cards-card {
    max-width: 35.8rem;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  }
}
.carousel {
  position: relative;
  width: 100%;
  height: 81rem;
  overflow: hidden;
}
.carousel-container {
  display: flex;
  width: 400%;
  animation: slide 12s infinite;
}
.carousel-img {
  width: 100%;
  height: 81rem;
  object-fit: cover;
}

@keyframes slide {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 50% {
    transform: translateX(-25%);
  }
  55%, 75% {
    transform: translateX(-50%);
  }
  80%, 100% {
    transform: translate(-75%);
  }
}
.reviews {
  padding: 12rem 0;
  background-color: #F3F3F7;
}
.reviews-stats {
  text-align: center;
}
.reviews-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-rating-num {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #111118;
  margin-right: 0.8rem;
}
.reviews-rating-stars {
  height: 3.2rem;
}
.reviews-google {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #111118;
  text-align: center;
  margin-top: 2.4rem;
}
.reviews-google-num {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #515167;
  margin-top: 0.8rem;
}
.reviews-cards-container {
  overflow: hidden;
  margin: 6.4rem 0;
  width: 100%;
  padding: 2.4rem 0;
}
.reviews-cards {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  animation: scroll 40s linear infinite;
}
.reviews-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32rem;
  height: 38.4rem;
  background-color: #FFFFFF;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  flex-shrink: 0;
  padding: 2.4rem;
}
.reviews-cards-card-rating {
  height: 2.4rem;
}
.reviews-cards-card-review {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #515167;
  margin-top: 1.6rem;
}
.reviews-cards-card-user {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.reviews-cards-card-user-img {
  height: 4.8rem;
  width: 4.8rem;
  background-color: #515167;
  border-radius: 100rem;
}
.reviews-cards-card-user-name {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #2F2F3C;
}
.reviews-cards-card-user-from {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #8D8DA5;
}
.reviews-cta {
  padding: 0.8rem 1.2rem;
  background-color: #3169F6;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 0.4rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2064px);
  }
}
.help {
  text-align: center;
}

.offers {
  padding: 12rem 0;
  background-color: #F3F3F7;
}
.offers-tag {
  background-color: #F63194;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  padding: 0.8rem;
  color: #FFFFFF;
  border-bottom-left-radius: 0.4rem;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}
.offers-heading {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: #111118;
  margin-bottom: 1.6rem;
  text-align: center;
}
.offers-subheading {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #515167;
  width: 70%;
  margin: 0 auto 6.4rem;
  text-align: center;
}
.offers-cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.offers-cards-card {
  position: relative;
  width: 38.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: all 0.4s ease;
}
.offers-cards-card-tag {
  background-color: #F63194;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  color: #FFFFFF;
  border-bottom-left-radius: 0.4rem;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}
.offers-cards-card:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}
.offers-cards-card-img {
  width: 100%;
  height: 28.4rem;
  background-color: #111118;
}
.offers-cards-card-content {
  padding: 1.6rem 2.4rem;
  width: 100%;
  text-align: center;
}
.offers-cards-card-content-heading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #2F2F3C;
  margin-bottom: 2.4rem;
}
.offers-cards-card-content-cutoutprice {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #8D8DA5;
  text-decoration: line-through;
}
.offers-cards-card-content-currentprice {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #F63194;
  margin-bottom: 3.2rem;
}

@media screen and (max-width: 430px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
  }
  .contact-location {
    display: flex;
    padding: 0.8rem;
    align-items: center;
    gap: 1.6rem;
  }
  .contact-location-icon {
    width: 3.2rem;
    height: 3.2rem;
    aspect-ratio: 1/1;
    border-radius: 0.8rem;
    border: 1px solid #8D8DA5;
  }
  .contact-location-address {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #515167;
  }
  .contact-location-map {
    border-radius: 1.6rem;
    width: 100%;
    object-fit: fill;
    margin-top: 0.8rem;
  }
  .contact-cta {
    padding: 0.8rem 1.2rem;
    background-color: #F63194;
    color: #FFFFFF;
    border-radius: 0.4rem;
    display: block;
    text-align: center;
    margin-top: 3.2rem;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form-heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
  .contact-form-subheading {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #515167;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
  }
  .contact-form-input-group {
    margin-bottom: 1.6rem;
  }
  .contact-form-input-lable {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: #111118;
  }
  .contact-form-input-field {
    padding: 1rem 1.2rem;
    border: 1px solid #D9D9E3;
    border-radius: 0.8rem;
    color: #8D8DA5;
    margin-top: 0.8rem;
  }
}
@media screen and (max-width: 430px) {
  .footer {
    margin: 4rem 1.6rem 0;
    border-top: 1px solid #C0C0CE;
    border-bottom: 1px solid #C0C0CE;
    padding: 4rem 0;
  }
  .footer-logo {
    height: 5rem;
    margin-bottom: 1.6rem;
  }
  .footer-links {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .footer-links-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .footer-links-group-heading {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: #2F2F3C;
  }
  .footer-links-group-link {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #8D8DA5;
  }
}
.copyright {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #8D8DA5;
  padding: 1.6rem 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
