/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

/* Section */
.section {
  padding: 12rem;
  background-color: #f3f3f7;
}

.pri-text {
  color: #f63194;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 81rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12rem;
  background-image: linear-gradient(to right, #111118 40%, #f63194);
}
.hero-heading {
  font-size: 5.6rem;
  line-height: 6.2rem;
  font-weight: 700;
  color: #f3f3f7;
  max-width: 56rem;
}
.hero-ctas {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 8rem;
  align-items: center;
  gap: 4rem;
}
.hero-cta-sec {
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  color: #ffffff; 
  border-radius: 0.4rem;
  border: 1px solid #f63194;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  transition: all 0.4s ease;
}
.hero-cta-sec:hover {
  border: 1px solid #f63194;
  transform: translateY(-2px);
  color: #ffffff;
}
.hero-stats {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
.hero-stats-num {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: #c0c0ce;
}
.hero-stats-des {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #767693;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-logo {
  height: 5.2rem;
}
.nav-links {
  display: flex;
  gap: 4.8rem;
}
.nav-links-link {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #2f2f3c;
  padding: 0.4rem 2rem;
  border-radius: 100px;
  transition: all 0.4s ease;
}
.nav-links-link:hover {
  background-color: #f63194;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.nav-cta {
  padding: 0.8rem 1.2rem;
  background-color: #f63194;
  color: #ffffff;
  border-radius: 0.4rem;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
  transition: all 0.4s ease;
}
.nav-cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

/* Services */
.services-heading {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: #111118;
  margin-bottom: 6.4rem;
  text-align: center;
}
.services-cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.services-cards-card {
  width: 38.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.4s ease;
}
.services-cards-card:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}
.services-cards-card-img {
  width: 100%;
  height: 19.2rem;
  background-color: #111118;
}
.services-cards-card-content {
  padding: 2.4rem;
  width: 100%;
}
.services-cards-card-content-heading {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #2f2f3c;
}
.services-cards-card-content-des {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #515167;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}
.services-cards-card-content-cutoutprice {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #8d8da5;
  text-decoration: line-through;
}
.services-cards-card-content-currentprice {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #f63194;
  margin-bottom: 2.4rem;
}

/* Carousel */
.carousel {
  background-image: url("../Assets/3.jpg");
  width: 100%;
  height: 81rem;
  background-position: center;
  background-size: cover;
}

/* Reviews */
.reviews {
  padding: 12rem 0;
  background-color: #f3f3f7;
}
.reviews-stats {
  text-align: center;
}
.reviews-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-rating-num {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #111118;
  margin-right: 0.8rem;
}
.reviews-rating-stars {
  height: 3.2rem;
}
.reviews-google {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #111118;
  text-align: center;
  margin-top: 2.4rem;
}
.reviews-google-num {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #515167;
  margin-top: 0.8rem;
}
.reviews-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 6.4rem auto;
  width: 90%;
  padding: 2.4rem 0;
  height: 100vh;
}
.reviews-cards {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.reviews-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32rem;
  height: 38.4rem;
  background-color: #ffffff;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  flex-shrink: 0;
  padding: 2.4rem;
}
.reviews-cards-card-rating {
  height: 2.4rem;
}
.reviews-cards-card-review {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #515167;
  margin-top: 1.6rem;
}
.reviews-cards-card-user {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.reviews-cards-card-user-img {
  height: 4.8rem;
  width: 4.8rem;
  background-color: #515167;
  border-radius: 100rem;
}
.reviews-cards-card-user-name {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #2f2f3c;
}
.reviews-cards-card-user-from {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #8d8da5;
}
.reviews-cta {
  padding: 0.8rem 1.2rem;
  background-color: #3169f6;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0.4rem;
}
.choose-product-text {
  font-size: 2rem;
  color: #d4cfcf;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns the content to the left */
  text-align: left;
}

.choose-product-text .tick-icon {
  margin-right: 10px; /* Adds space between the tick icon and text */
}

.choose-product-text img {
  width: 20px; /* Default size for the tick icon */
  height: auto; /* Maintain the aspect ratio */
  display: inline-block; /* Keeps the icon aligned with the text */
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2064px);
  }
}

/* Help Section */
.help {
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .section {
    padding: 8rem;
  }
  .choose-product-text {
    font-size: 1.6rem; /* Adjust font size for smaller screens */
    align-items: left;
  }

  .choose-product-text img {
    width: 18px; /* Smaller size for mobile */
  }

  .hero {
    height: 100vh; /* Makes the height cover the entire mobile screen */
    flex-direction: column;
    padding: 4rem;
    text-align: center;
  }
  .hero-heading {
    padding-top: 35%;
    font-size: 4rem;
    line-height: 5rem;
    max-width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .hero-ctas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .hero-stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    align-items: flex-start;
  }
  .choose-product-text {
    font-size: 2rem;
    color: white;
    margin-top: 1.5rem;
    text-align: left;
  }
  .nav {
    padding: 1rem 2rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 2rem;
  }

  .services-cards {
    flex-direction: column;
    gap: 3.2rem;
  }

  .reviews-cards {
    flex-direction: column;
    gap: 3.2rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .hero-heading {
    font-size: 5rem;
    line-height: 6rem;
  }

  .hero-ctas {
    gap: 1.5rem;
  }

  .nav-links-link {
    font-size: 1.2rem;
  }

  .services-cards-card {
    width: 100%;
  }

  .reviews-cards-card {
    width: 100%;
  }
} 
/* Carousel container with rounded corners and full screen on larger screens */
.carousel3 {
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove any margin to avoid scroll */
  border-radius: 20px; /* Rounded corners for the carousel */
  overflow: hidden; /* Prevent any content overflow */
  display: flex;
  justify-content: center; /* Horizontally center the carousel */
  align-items: center; /* Vertically center the carousel */
}

/* Ensure the carousel images are properly aligned */
.carousel-inner {
  height: 100%;
  display: flex;
  justify-content: center; /* Center all carousel items */
  align-items: center; /* Vertically center all carousel items */
}

.carousel-item img {
  width: 90%;  /* Make sure the image spans the full width of the container */
  height: 90%; /* Make the image cover the full height of the container */
  object-fit: cover; /* Ensure the image covers the area without stretching */
  display: block;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .carousel3 {
    width: 90%; /* Carousel takes up 50% of the screen width */
    margin: 0 auto; /* Center the carousel horizontally */
    height: 100vh; /* Ensure the carousel still takes the full height */
  }
}


